* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

body {
  font-family: 'Cinzel Decorative', cursive;
  font-family: 'Cormorant Infant', serif;

}



.container {
  padding: 60px 0px;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  /*overflow: hidden;*/
  /*background-color: darkgray;*/
}

.title {
  color: 		#e37e30;
  font-size: 40px;
  text-align: center;
  margin-bottom: 110px;
  font-family: 'Cinzel Decorative', cursive;
}

h1 {
  margin: 0px;


}

header {
  width: 100%;
  height: 500px;

  background: #200122;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsla(0, 100%, 22%, 0.87), hsla(295, 94%, 7%, 0.767)), url(../img/img_ring_main.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsla(0, 100%, 22%, 0.671), hsla(295, 94%, 7%, 0.781)), url(../img/img_ring_main.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  /*background: #3A1C71;*/
  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, hsla(24, 100%, 74%, 0.692), hsla(354, 57%, 64%, 0.603), hsla(261, 60%, 28%, 0.548)), url(../img/img_nav3.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, hsla(24, 100%, 74%, 0.692), hsla(354, 57%, 64%, 0.603), hsla(261, 60%, 28%, 0.548)), url(../img/img_nav3.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;

}

nav {
  text-align: right;
  padding: 40px 60px 0px 0px;
}

a {
  color: #fadbd8;
  text-decoration: none;
  font-weight: 200;
  margin-right: 20px;
}

a:hover {
  color: #fadbd8;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
  font-size: 20px;
}

.weve {
  position: absolute;
  align-items: flex-end;
  width: 100%;

}

header .seccion-nav {
  display: flex;
  height: 300px;
  width: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

header .text-header h1 {
  color: #FDF2E9;
  font-family: 'Shippori Mincho B1', serif;
  font-size: 50px;
  font-weight: bold;


}

header .text-header h2 {
  color: #FDF2E9;
  font-family: 'Shippori Mincho B1', serif;
  font-size: 30px;
  font-weight: 200;


}



.container-sobre-nosotros {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;

}

.img-sobre-nosotros {
  width: 40%;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.7);
  border-radius: 2%;

}

.container-textos {
  width: 40%;
  padding: 50px 0px 0px 20px;


}

.container-textos h2 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.container-textos p {
  padding: 0px 0px 20px 20px;
  font-weight: 100;
  text-align: justify;
}



.portafolio {
  background-color: white;
  height: 750px;
}

.galeria-port {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;


}

.imgen-port {
  width: 24%;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4%;


}

.imgen-port img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: block;


}



.clientes {
  height: 500px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  background-color:	#9c031f;
  height: 180px;
  width: 46%;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;

}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0px 10px 0 20px;
}

.card h4 {
  text-align: center;
  margin-bottom: 15px;
  color: #A107B0;
  ;
  font-size: 19px;
}

.card p {
  text-align: justify;
  padding: 0px 20px 0px 10px;
  font-size: 13px;
  color: #4F0541;
}